* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: whitesmoke;
  }
  
  form {
    border: 1px solid black;
    max-width: fit-content;
    padding: 1rem;
    display: grid;
    gap: 1.25rem;
    margin: 2rem;
    background-color: #fff;
    box-shadow: 2px 2px 7px #cccccc;
  }
  
  h1 {
    font-size: 1.75rem;
    padding: .5rem 0 .75rem;
    border-bottom: 1px solid black;
    text-align: center;
  }
  
  fieldset {
    padding: .5rem 1rem;
    border: none;
    display: grid;
    gap: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: .3rem;
  }
  
  input, textarea, select {
    display: block;
    width: 225px;
    padding: .15rem;
    font-family: monospace;
    font-size: .7rem;
    color: grey;
  }
  
  input:not(input[type="button"]):focus, textarea:focus, select:focus{
    outline: 1px solid grey;
    outline-offset: -3px
  }
  
  textarea {
    resize: none; 
  }
  
  select {
    box-sizing: content-box;
  }
  
  form > div {
    padding: 1rem 1rem .5rem;
  }
  
  input[type="button"]{
    padding: .2rem;
    box-sizing: content-box;
  }